---
import config from "@config";
import Link from "./Link.astro";
import SocialMediaIcon from "./SocialMediaIcon.astro";

function getCopyrightYears() {
	const startYear = config.siteCreatedAt;
	const currentYear = new Date().getFullYear();
	return startYear === currentYear ? startYear : `${startYear} - ${currentYear}`;
}
---

<footer class="flex flex-col items-center gap-2 md:flex-row md:items-start md:gap-0 justify-between">
	<div><Link href="/">{config.siteTitle}</Link> (<Link href={config.siteRepositoryUrl} newTab>Source Code</Link>) &copy; {getCopyrightYears()}</div>
	<div class="flex gap-4">
		<SocialMediaIcon social="github" content={config.socials.github} />
		<SocialMediaIcon social="linkedin" content={config.socials.linkedin} />
		<SocialMediaIcon social="email" content={config.socials.email} />
		<SocialMediaIcon social="website" content={config.socials.website} />
	</div>
</footer>
